* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

body {
    background-color: #4f555b;
    color: whitesmoke;
}
.title1{
    
    font-family: monospace;
}

.imput-small{
    max-width: 8rem;
}
.space{
    margin-left: 5rem;
    margin-right: 5rem;
}
.down-space{
    margin-top: 2rem;
}
.button{
    margin: 1rem;
}